<?php
$feedback =  $this->getFeedbackDetail();
?>
<div class="content-header"><h3>Feedback details</h3></div>
<p>ID: <?php echo $feedback->getFeedbackId(); ?></p>
<p>Sender: <?php echo $feedback->getName(); ?></p>
<p>Date: <?php echo $feedback->getCreatedTime(); ?></p>
<h2><?php echo $feedback->getSubject(); ?></h2>
<p><?php echo $feedback->getContent(); ?></p>