<!--@subject New feedback@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.subject":"Subject",
"var data.content":"Content"}
@-->
Name: {{var data.name}}
Subject: {{var data.subject}}

Content: {{var data.content}}