<?php
/**
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2006-2014 X.commerce, Inc. (http://www.magento.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */

/**
 * @see SM_Bestseller_Block_List
 */
?>

<?php
    $storeId = (int) Mage::app()->getStore()->getId();
    $configQty = Mage::getStoreConfig('sm/bestseller_group/main_content_input', $storeId);

    if ($configQty != null) {
        if ($configQty == 0) {
            $collection = null;
        } else {
            $collection = $this->getBestsellerProducts($configQty);
        }
    } else {
        $collection = $this->getBestsellerProducts();
    }
?>

<?php if(isset($collection) && $collection->getSize()): ?>
<div class="box box-bestseller">
    <h2><?php echo $this->__('Bestseller') ?></h2>
    <ul class="products-grid" id="bestseller-list">
    <?php foreach ($collection as $_item): ?>
        <li class="item">
            <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(135) ?>" width="135" height="135" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" /></a>
            <p class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a></p>
            <?php echo $this->getPriceHtml($_item, true, '-related') ?>
            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                <a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
    </ul>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#bestseller-list').slick({
            adaptiveHeight: true,
            autoplay: true,
            dots: true,
            infinite: true,
            slidesToShow: 5,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 770,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 541,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 481,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });
</script>
<?php endif; ?>