<?php
/**
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2006-2014 X.commerce, Inc. (http://www.magento.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */

/**
 * @see SM_Bestseller_Block_List
 */
?>

<?php
    $storeId = (int) Mage::app()->getStore()->getId();
    $configQty = Mage::getStoreConfig('sm/bestseller_group/sidebar_input', $storeId);

    if ($configQty != null) {
        if ($configQty == 0) {
            $collection = null;
        } else {
            $collection = $this->getBestsellerProducts($configQty);
        }
    } else {
        $collection = $this->getBestsellerProducts();
    }
?>

<?php if(isset($collection) && $collection->getSize()): ?>
<div class="block block-bestseller">
    <div class="block-title">
        <strong><span><?php echo $this->__('Bestseller') ?></span></strong>
    </div>
    <div class="block-content">
        <ol class="mini-products-list" id="block-bestseller">
        <?php foreach ($collection as $_item): ?>
            <li class="item">
                <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(125) ?>" width="125" height="125" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" /></a>
                <div class="product-details">
                    <p class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a></p>
                    <?php echo $this->getPriceHtml($_item, true, '-related') ?>
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                    <?php endif; ?>
                </div>
            </li>
        <?php endforeach; ?>
        </ol>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#block-bestseller').slick({
            vertical:true,
            verticalSwiping: true,
            adaptiveHeight: true,
            autoplay: true,
            infinite: true,
            slidesToShow: 2,
            slidesToScroll: 2
        });
    });
</script>
<?php endif; ?>