<?php $products = $this->getProductCollection(); ?>
<?php if ($products->getSize() > 0): ?>
    <h2 class="subtitle">Featured Products</h2>
    <ul class="block-featuredproduct products-grid">
        <?php $i = 0; foreach ($products->getItems() as $_item): ?>
            <li class="item">
                <a href="<?php echo $_item->getProductUrl() ?>"
                    title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image">
                    <img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(135) ?>"
                        width="135" height="135" alt="<?php echo $this->escapeHtml($_item->getName()) ?>"/>
                </a>

                <div class="product-details">
                    <h3 class="product-name">
                        <a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a>
                    </h3>
                    <?php echo $this->getPriceHtml($_item, true); ?>
                </div>
            </li>
        <?php $i++; endforeach; ?>
    </ul>
<?php endif; ?>
<script type="text/javascript">
    jQuery(function () {
        jQuery('.block-featuredproduct').slick({
            autoplay: true,
            slidesToShow: 3,
            slidesToScroll: 1
        });
    });
</script>
